body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/naruto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1; /* Puts it behind everything */
}
/*
To blur only our background image, we have created an overlay.
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}